@media (max-width: 375px)
{
    header .header-icons-container
    {
        justify-content: center;
    }

    header .icons span
    {
        margin: 10px;
    }

    nav
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
    }

    nav .nav-logo-container
    {
        margin: 0 auto;
    }
    
    nav .profile-link
    {
        margin: 0 auto;
    }
}

@media (max-width: 425px)
{
    .featured,
    .past-blogpost-container,
    .proyects-container
    {
        padding: 20px 20px 40px;
    }
}

@media (max-width: 495px)
{
    .blogpost-image,
    .blogpost-main-container
    {
        padding: 20px;
    }

    .contact-container
    {
        display: grid;
        grid-template-rows: auto auto;
    }

    .contact-card
    {
        display: flex;
        width: 100% !important;
    }
}

@media (max-width: 800px)
{
    .featured-content
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}